<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".MyWalletApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyWallet">

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".widget.WishlistToggleReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.dzadafa.mywallet.ACTION_TOGGLE_ITEM" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".widget.WishlistWidgetProvider"
            android:exported="false"
            android:label="@string/widget_wishlist_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_wishlist_info" />
        </receiver>

        <service
            android:name=".widget.WishlistWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />

        <receiver
            android:name=".widget.StatsWidgetProvider"
            android:exported="false"
            android:label="@string/widget_stats_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_stats_info" />
        </receiver>

        <receiver
            android:name=".widget.QuickAddWidgetProvider"
            android:exported="false"
            android:label="@string/widget_quickadd_label">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_quick_add_info" />
        </receiver>

        <activity
            android:name=".widget.WidgetAddTransactionActivity"
            android:exported="false"
            android:theme="@style/Theme.MyWallet"> </activity>
          
        <activity
            android:name=".ui.edit.EditTransactionActivity"
            android:exported="false"
            android:theme="@style/Theme.MyWallet.NoActionBar"> </activity>

        <activity
            android:name=".ui.edit.EditWishlistActivity"
            android:exported="false"
            android:theme="@style/Theme.MyWallet.NoActionBar" />

        </application>
</manifest>
